/ {
    trackball_listener {
        compatible    = "zmk,input-listener";
        device        = <&trackball>;
        destination   = <&vtrackball>;
        split-role    = "central";
        status        = "okay";
    };
};