# charybdis-right/Kconfig.defconfig  (right half)
if SHIELD_CHARYBDIS_RIGHT

config ZMK_KEYBOARD_NAME
    default "Charybdis"

config ZMK_SPLIT_BLE_ROLE_CENTRAL   # <- BT build needs BLE-Central
    default y

config ZMK_SPLIT                   # <- both halves are split
    default y

endif
