.west/
zmk/
zephyr/
modules/
optional/
zmk-pmw3610-driver/
prospector-zmk-module
local-build/logs.txt
scripts/__pycache__
local-build/jq
local-build/yq
notes
venv/
.vscode/
node_modules/
package.json
package-lock.json