/ {
    chosen {
        zmk,kscan = &mock_kscan;
    };

    // Create mock layout and keymap to prevent linking errors on dongle build
    mock_kscan: kscan_1 {
        compatible = "zmk,kscan-mock";
        columns = <1>;
        rows = <1>;
        events = <1>;
    };

    dongle_keymap {
        compatible = "zmk,keymap";
        label = "Dummy dongle keymap";
        bindings = <&none>;
    };
};

/ {
	vtrackball: virtual_input_trackball {
		compatible = "zmk,virtual-input";
	};

	input_relay_config_trackball {
		compatible = "zmk,split-peripheral-input-relay";
		device = <&vtrackball>;
		relay-channel = <111>;
	};
};