#include "charybdis.dtsi"
#include "charybdis_pmw3610.dtsi"

// The matrix transform is 6 columns over because the left half is 6 columns wide.
&default_transform {
	col-offset = <6>;
};

&kscan0 {
	compatible = "zmk,kscan-gpio-matrix";
	col-gpios
		= <&pro_micro 19 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
		, <&pro_micro 20 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
		, <&pro_micro 10 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
		, <&pro_micro 6 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
		, <&pro_micro 7 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
		, <&pro_micro 8 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
		;

		row-gpios
			= <&pro_micro 18 GPIO_ACTIVE_HIGH>
			, <&pro_micro 5 GPIO_ACTIVE_HIGH>
			, <&pro_micro 4 GPIO_ACTIVE_HIGH>
			, <&pro_micro 9 GPIO_ACTIVE_HIGH>
            ;
};

&spi0 {
    status = "okay";
};

&trackball {
    status = "okay";
};

/ {
	vtrackball: virtual_input_trackball {
		compatible = "zmk,virtual-input";
	};

	input_relay_config_trackball {
		compatible = "zmk,split-peripheral-input-relay";
		device = <&trackball>;
		relay-channel = <111>;
	};
};



// // https://github.com/inorichi/zmk-pmw3610-driver
// &pinctrl {
//     spi0_default: spi0_default {
//         group1 {
//             psels = <NRF_PSEL(SPIM_SCK,  0, 8)>,
//                     <NRF_PSEL(SPIM_MOSI, 0, 17)>,
//                     <NRF_PSEL(SPIM_MISO, 0, 17)>;
//         };
//     };

//     spi0_sleep: spi0_sleep {
//         group1 {
//             psels = <NRF_PSEL(SPIM_SCK,  0, 8)>,
//                     <NRF_PSEL(SPIM_MOSI, 0, 17)>,
//                     <NRF_PSEL(SPIM_MISO, 0, 17)>;
//             low-power-enable;
//         };
//     };
// };

// &spi0 {
//     status = "okay";
//     compatible = "nordic,nrf-spim";
//     pinctrl-0 = <&spi0_default>;
//     pinctrl-1 = <&spi0_sleep>;
//     pinctrl-names = "default", "sleep";
//     cs-gpios = <&gpio0 20 GPIO_ACTIVE_LOW>;

//     trackball: trackball@0 {
//         status = "okay";
//         compatible = "pixart,pmw3610";
//         reg = <0>;
//         spi-max-frequency = <2000000>;
//         irq-gpios = <&gpio0 6 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
//          /*   optional features   */
//         snipe-layers = <8>;     
//         scroll-layers = <1 9>;
//         automouse-layer = <7>;
//     };
// };

// / {
//   trackball_listener {
//     compatible = "zmk,input-listener";
//     device = <&trackball>;
//   };
// };